body{
  background-color: #046865;
  display: flex;
  flex-direction: row;
  flew-wrap: wrap;
  justify-content: center;

}

#game-title{
  color: black;
  display: flex;
  justify-content: center;
}

#red{
  background: #FF0000;
  justify-content: center;
  border-style: none solid solid none;
}

#red:focus{
  background: #8B0000;
}

#blue{
  background: #0000FF;
  justify-content: center;
  border-style: none none solid solid;
}
#blue:focus{
  background: #000099;
}

#green{
  background: #009900;
  justify-content: center;
  border-style: solid solid none none;
}

#green:focus{
  background: #006600;
}


#yellow{
  background: #FFFF66;
  justify-content: center;
  border-style: solid none none solid;
}

#yellow:focus{
  background: #E5E500;
}

.color {
  width: 49%;
  /* max-width: 150px; */
}

#game-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  width: 100%;
  max-width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden
}


#start-btn{
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#start-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#leaderboard-container {
  width: 20%;
  padding: 0;
}

.left-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
