body{
  display: flex;
  justify-content: center;
}

#game-title{
  justify-content: center;
}
#red{
  background: red;
  justify-content: center;
  border-style: none solid solid none;
}

#blue{
  background: blue;
  justify-content: center;
  border-style: none none solid solid;
}


#green{
  background: green;
  justify-content: center;
  border-style: solid solid none none;

}

#yellow{
  background: yellow;
  justify-content: center;
  border-style: solid none none solid;

}

.color {

  width: 49%;

}

#game-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden
}
